@import "./grid.css";

html {
    font-size: 1em;
    margin: 10px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
}

h5 {
    font-size: 0.88em;
    padding-bottom: 3em;
}

.heading2-portfolio {
    font-size: 2.369em;
    padding-bottom: 30px;
}

.heading3-name {
    font-size: 2em;
}

.heading3 {
    font-size: 1.777em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.heading4-bold {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
}

.heading4-bold>span {
    padding: 0.25em 0.25em;
}

.heading4-bold-tiles {
    font-size: 1.333em;
    font-weight: 700;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-transform: uppercase;
    text-decoration: underline;
}

.heading4 {
    font-size: 1.333em;
}

.current-work-job-descriptor {
    padding-left: 0.5em;
}

.grey-overlay {
    opacity: 0.7;
}

.caption {
    font-size: 1.333em;
    font-family:
        'Lato', sans-serif;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 30px;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #5185c9;
}

.nav li {
    padding: 15px 15px;
}

.nav,
.nav ul {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    color: #555555;
    font-family: 'Domine', serif;
    font-weight: 400;
    line-height: 1.45;
    padding-bottom: 30px;
}

p {
    color: #555555;
    font-family: 'Domine', serif;
    font-weight: 400;
    line-height: 1.45em;
}

.paragraph {
    font-size: 1em;
}

.line-break {
    border-top: 1px solid #9a9a9a;
    padding-bottom: 30px;
    padding-top: 30px;
}

.border {
    border: 1px solid #555555;
}

.thumb-item {
    width: 100%;
}

.img-thumb {
    height: 100%;
    width: 100%;
}

.img-portfolio {
    margin-bottom: 50px;
}

.link {
    color: #333333;
}

.fa-linkedin:hover {
    color: #4875B4;
}

.header-wrap {
    padding-bottom: 100px;
}

.about-img-wrap {
    padding-bottom: 50px;
}

.menu-selected .menu-link,
.menu-selected .menu-link:visited {
    color: #668fcc;
    border-bottom: 1px solid #668fcc;
}

.about-img {
    align-content: center;
    display: flex;
    padding-bottom: 50px;
}

.link-social {
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.social-media {
    padding-top: 25px;
}

/****************************

Tablet 1024px 

****************************/
@media (max-width: 1024px) {

    .header-wrap {
        padding-bottom: 100px;
    }

    .nav {
        font-family: 'Lato', sans-serif;
        font-size: 1.25em;
        font-weight: 300;
    }

    .nav-item {
        align-content: center;
        padding: 5px;
    }
}

/****************************

Nav fix 900px 

****************************/
@media screen and (max-width: 900px) {

    .nav li {
        padding: 15px 8px;
    }
}

/**************************

Phone 768px 

**************************/
@media (max-width: 767px) {

    .header-wrap {
        padding-bottom: 5px;
    }

    .about-img-wrap {
        padding-bottom: 50px;
    }

    .link-social {
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav,
    .nav ul {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 1.25em;
        font-weight: 300;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
