@import "./grid.css";

html {font-size: 1em; margin: 10px;}

h1, h2, h3, h4, h5 {
    color: #333333;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    line-height: 1.2;
    margin: 0;
}

h5 {
    font-size: 0.88em;
    padding-bottom: 3em;
}

.heading1 {font-size: 3.157em;}
.heading2 {font-size: 2.369em;}
.heading2-portfolio {font-size: 2.369em;padding-top:200px;padding-bottom: 30px;}
.heading3-name {font-size: 1.777em;}
.heading3 {font-size: 1.777em;padding-top: 30px;padding-bottom: 30px;}
.heading3-bold {font-size: 1.777em;font-weight: 700;}
.heading3-bold-caption {font-size: 1.777em;font-weight: 700;text-align: center;padding: 0.5em;}
.heading4-bold-caption {font-size: 1.333em;font-weight: 900;text-transform: uppercase;text-align: center;margin: 1em;}
.heading4-bold {font-size: 1.333em;font-weight: 700;text-align: center;padding: 0.5em;text-transform: uppercase;}
.heading4-bold-tiles {font-size: 1.333em;font-weight: 700;text-align: center;padding: 0.5em;padding-bottom: 1em;padding-top: 1em;text-transform: uppercase;text-decoration: underline;}
.heading4 {font-size: 1.333em;}
.heading5 {font-size: 1em; padding-bottom: 1em;}
.heading5-italic {font-size: 1em;font-style: italic;}
.heading5-bold {font-size: 1em;font-weight: 700;}
.about-heading {font-size: 2.369em; padding-bottom: 30px;}

.grey-overlay { 
    opacity: 0.7; 
}

.caption {
    font-size: 1.333em;
    font-family: /*'Domine', serif;*/'Lato', sans-serif;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 30px;
}

a {color: #333333;text-decoration: none;}
a:hover {color: #5185c9;}

.nav li {padding: 15px 15px;}
/*li {padding: 5px 5px;}*/

.nav, .nav ul {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 1.25em;
    font-weight:300;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    color: #555555;
    font-family: /*'Merriweather', serif*/'Domine', serif;
    font-weight: 400;
    line-height: 1.45;
    padding-bottom: 30px;
}

ol {
    color: #555555;
    font-family: /*'Merriweather', serif*/'Domine', serif;
    font-weight: 400;
    line-height: 1.45em;
    padding-bottom: 30px;
    padding-top: 30px;
}

p {
    color: #555555;
    font-family: /*'Merriweather', serif*/'Domine', serif;
    font-weight: 400;
    line-height: 1.45em;
}

.paragraph {font-size: 1em;}

.line-break {
    border-top: 1px solid #9a9a9a;
    padding-bottom: 30px;
    padding-top: 30px;
}

.line-break2 {
    border-top: 1px solid #9a9a9a;
}

.border {border: 1px solid #555555;}
.thumb-item-top {padding-top: 100px;}
.thumb-item {width: 100%;}
.img-thumb {height: 100%;width: 100%;}
.footer {padding-top: 50px;}
.about-logo {width: 100px;}
.active {color: #5185c9;}
.img-portfolio {margin-bottom: 50px;/*box-shadow: 10px 10px 20px #ccc;*/}
.link {color: #333333;}
.selected {color: #5185c9;}
.fa-behance:hover {color: #1769FF;opacity: 1.0;}
.fa-linkedin:hover {color: #4875B4;}
.fa-twitter:hover {color: #55ACEE;}
.header-wrap {padding-bottom: 100px;}
.float-right {float: right;}
.fa-1-5x {font-size: 1.5em;}
.about-img-wrap {padding-bottom: 50px;}

.menu-selected .menu-link, .menu-selected .menu-link:visited {
    color: #668fcc;
    border-bottom: 1px solid #668fcc;
}

.logo {
    height: 90px;
    width: 90px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.headline {
    padding-bottom: 25px;
    padding-top: 50px;
}

.sub-headline {
    padding-bottom: 25px;
    padding-top: 25px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: left;
    padding: 0 20px;
}

.about-img {
    align-content: center;
    display: flex;
    padding-bottom: 50px;
}

.logo-wrap {
    max-width: 100px;
    width: 100px;
}

.name-wrap {
    margin-left: auto; 
    margin-right: auto;
    max-width: 600px;
}

.about-wrap {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: 0 0 40px 0;   
    padding-top: 100px;
}

.right-wrap {
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 40px 0;   
}

.center-wrap {
    display: flex;
    justify-content: center;
}

.link-social {
    padding-left: 10px;
    padding-right: 10px;
}

.center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.social-media {
    padding-top: 25px;
}



/****************************

Tablet 1024px 

****************************/
@media (max-width: 1024px) {

    .logo {
        height: 90px;   
        width: 90px;
    }
    
    .header-wrap {
        padding-bottom: 100px;
    }

    .nav {
        font-family: 'Lato', sans-serif;
        font-size: 1.25em;
        font-weight:300;
    }
    
    .nav-item {
        align-content: center;
        padding: 5px;
    }
}

/****************************

Nav fix 900px 

****************************/
@media screen and (max-width: 900px) {

    .nav li {
        padding: 15px 8px;
    }
}

/**************************

Phone 768px 

**************************/
@media (max-width: 767px) {
    
    .header-wrap {
        padding-bottom: 5px;
    }
    
    .about-img-wrap {padding-bottom: 50px;}

    .name {
        padding-top: 25px;
    }

    .logo {
        height: 90px;   
        width: 90px;
    }

    .link-social {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .nav, .nav ul {
        display: flex;
        font-family: 'Lato', sans-serif;
        font-size: 1.25em;
        font-weight:300;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}