@import "bourbon";

html {margin: 10px; font-size: 1em;}


body {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.45;
  color: #555555;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  color: #333333;
}

h1 {font-size: 3.157em;}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}


.paragraph-headline {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1em;
}

.paragraph-line-break {
    font-family: 'Merriweather', serif;
    font-size: 1em;
    color: #555555;
    padding-bottom: 20px;
    border-bottom: 2px solid #555555;
}

.quote {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    color: #555555;
    font-style: italic;
    font-weight: 700
}

.img-caption {
    font-family: 'Merriweather', serif;
    font-size: 0.8em;
    color: #555555;
    font-style: italic;
    font-weight: 700;
}

.thumb {display: flex;}

.thumb-item-top {padding-top: 100px;}

.thumb-item {width: 100%;margin-bottom: -11px;}

.img-thumb {width: 100%;height: 100%;}

.footer {padding-top: 50px;}

.parent-space {display: flex;}

.item-space {width: 100%;height: 400px;}

.about-logo {width: 100px;}

.about-work {
    border-top: 1px solid #555555;
    padding-top: 25px;
    padding-bottom: 25px;
}

.about-work-end {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-text {
    font-family: 'Lato', sans-serif;
    font-weight:300;
	font-size: 1em;
    color: #333333;
}

.wrap {
    margin: 20px;
    display: flex;
}

.flex-item {
    background-color: bisque;
    width: 100%;
    display: flex;
    margin: 5px;
}

.flex-item:nth-child(3) {
    justify-content: flex-end;
}

.active {
    color: #5185c9;
}

ul {
    list-style: none;
}

.logo {
    width: 125px;
    height: 125px;
}

.flex-right {
    display: flex;
    justify-content: flex-end;
}

.float-right {
float: right;   
}

.border {
    border: 1px solid #555555;
}

.headline {
    padding: 50px 0px 25px 0px ;
}

.sub-headline {
    padding: 25px 0px 25px 0px ;
}

.small-header-bold {
    font-family: 'Lato', sans-serif;
    font-weight:700;
	font-size: 1.125em;
    color: #333333;
    padding-bottom: 10px;
}

.small-header {
    font-family: 'Lato', sans-serif;
    font-weight:700;
	font-size: 1.125em;
    color: #333333;
    padding-top: 10px;
    padding-bottom: 20px;
}

.nav {
    font-family: 'Lato', sans-serif;
    font-weight:300;
	font-size: 1.25em;
}

.nav-item {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 20px;
}

.link {
    color: #333333;   
}

.about-img {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.logo-wrap {
    width: 100px;
    max-width: 100px;
}

.name-wrap {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto; 
}

.header-wrap {
padding-bottom: 100px;
}

.about-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0px 0px 40px 0px;   
    padding-bottom: 0px;
    padding-top: 100px;
}

.right-wrap {
    max-width: 0%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px 40px 0px;   
}

.center-wrap {
    display: flex;
    justify-content: center;
    justify-content: center;
}

.img-portfolio {
    margin-bottom: 50px;
}

.link-social {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: #555555;
}

a:hover {color: #5185c9;}
.selected {color: #5185c9;}
.fa-behance:hover {opacity: 1.0;color: #1769FF;}
.fa-linkedin:hover {color: #4875B4;}
.fa-twitter:hover {color: #55ACEE;}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1024px) {
    
    .header-wrap {
        padding-bottom: 0px;
    }
    
    .logo {
        width: 35%;
        height: 35%;   
    }
    
    .header-wrap {
    padding-bottom: 100px;
    }

    .nav {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size: 1.25em;
    }
    
    .nav-item {
        align-content: center;
        padding: 5px;
    }
}

@media (max-width: 767px) {
    
    .header-wrap {
        padding-bottom: 0px;
    }

    .name {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .flex-right {
        display: flex;
        justify-content:space-between;
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size: 1.25em;
    }

    ul {
        width: 100%;
        padding-left: 0px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .nav-item {
        align-content: center;
        padding: 20px;
    }

    .logo {
        width: 25%;
        height: 25%;   
    }

    .link-social {
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer {
        padding-top: 10px;
    }    
}