.parent {
  border: 5px solid lightcoral;
}

.item {
  /*height: 50px;*/
  margin: 5px;
  background: DeepSkyBlue;
  color: white;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
}

.row1 {
    margin: 5px;
    width: 33%;
    background-color:bisque;
}

.row2 {
    margin: 5px;
    width: 20%;
    background-color:bisque;
}

.img-portfolio {
    width: 100%;
}

.row3 {
    margin: 5px;
    width: 60%;
    background-color:bisque;
}

/**** display: flex ****/


.parent {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    display: flex;
}

.row1:nth-child(1) {
    display: flex;
    justify-content: flex-start;
}

.row1:nth-child(3) {
    display: flex;
    justify-content: flex-end; 
}